<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor="#a5aaa5">

<h1>Введите выражение для расчета:</h1>
<form action="#" th:action="@{/calculator}" th:object="${calculationModel}" method="POST">
    <input type="text" th:field="*{expression}"/>
    <p>
        <input type="submit" class="button" name="calculate" value="Посчитать"/>
    </p>
    <h1><p th:text="'Результат: ' + ${result}"/></h1>
</form>
</body>
</html>